In [1]:
import pandas as pd

## 拼接两个dataframe

In [2]:
#纵向拼接，忽略索引（当两个dataframe的列名完全一致时）
#若两个列名有一字之差，则合并后会将两个列均展现出来
pd.concat([df1,df2],ignore_index=True)

NameError: name 'df1' is not defined

In [ ]:
#横向拼接数据
pd.concat([df1,df2],axis=1)

## 合并两个dataframe

In [ ]:
#当变量在两个df中的名字完全一致
pd.merge(order_df2,customer_df2,on=["客户ID"，"订单日期"])

In [ ]:
#当变量在两个df中的名字不完全一致
pd.merge(order_df3,customer_df3,left_on=["客户编号"，"订单日期"]，right_on=["客户ID","交易日期"])

In [ ]:
#当两个需要合并的df中有一列的名字是重复的，则可以为合并后的df指定名字是什么（当然不指定也可以的）
pd.merge(df7,df8,on=["日期"，"店铺"]，suffixes=["_df7","_df8"])
#默认情况,merge都内连接，如果要指定左连接，右连接，加一个参数how：  how="left","right","outer"

## 根据索引合并dataframe--join

In [3]:
#当要合并的df有重命名列时（必须指定合并后的列名是啥（即后缀），要不然报错）

In [ ]:
customer_df4.join(order_df4,how="inner",lsuffix='_customer',rsuffix='_order')

## 分组运算 --groupby比较常用

In [ ]:
df.groupby("分点编号")["销售额"].mean()
#最后返回一个series

In [ ]:
df.groupby("分点编号")[["销售额","销售数量"]].mean()
#返回的是dataframe

In [ ]:
#可以根据多个变量分组
df.groupby(["分点编号","时间段"])[["销售额","销售数量"]].mean()

In [4]:
#这里的聚合函数也可以用自己定义的

In [5]:
def max_plus_10(nums):
    return num.max()+10

In [ ]:
df.groupby(["分点编号","时间段"])[["销售额","销售数量"]].apply(max_plus_10)

## 数据透视表--pivot_table

In [6]:
#将分店编号，时间段作为两层的索引，商品类别作为列，value是销售额，用sum做聚合运算

In [ ]:
pd.pivot_table(df,index=["分店编号","时间段"],columns="商品类别",values="销售额",aggfunc=np.sum)
#若不指定aggfunc，则默认是mean()

## 分组与透视表的区别

### 相同  
都可以用来分组聚合运算

### 不同
groupby：主要用于聚合运算，且聚合的逻辑直接。用于索引的变量不可以作为列  
pivot_table：主要是直观，且既可以用 索引 分组又可以用 列 进行分组

## pd.cut操作

当我们用年龄做为分组标准进行聚合时，因为每一个数值年龄都是一个类别，因此我们要对年龄进行区间切割

In [ ]:
1.定义年龄分组列表
2.并根据以上分组对df1中的年龄进行分箱
age_bins=[0,10,20,30,40,50,60,120]
pd.cut(df1["年龄"]，age_bins)

In [ ]:
#给分箱给予标签
age_labels = ["儿童","青少年","青年","壮年","中年","中老年","老年"]
df1["年龄组"] = pd.cut(df1["年龄"]，age_bins，lables=age_labels)

In [ ]:
df1.groupby("年龄组")["工资"].mean(  )

## 重置索引

In [ ]:
#外层索引
df1.loc["001"]
#内层索引
df1.loc["001"].loc["2021"]
#去掉层次化的索引，恢复索引
df1.reset_index()

##   query

In [7]:
#用query筛选出性别为男且年龄<20的观察值
#给query传入一个字符串，字符串是筛选条件
df1.query('(性别 == "男")&(年龄 <=20)')
#若用原先的方式
df1[(df1["性别"=="男"])&(df1["年龄" <= 20])]