## 对索引和列名进行rename操作

In [1]:
df1 = df1.rename(index={"2_":"2","_5":"5","_6":"6"})  
df1 = df1.rename(columns={"客户姓名":"客户","客户性别":"性别"})  
#  df1.rename(columns={"客户姓名":"客户","客户性别":"性别"},inplace=True)

NameError: name 'df1' is not defined

In [ ]:
#还可以对列名或索引名进行函数操作
df2.rename(index=str.upper)
df2.rename(columns=str.upper)

In [2]:
#将某列设置为索引
df2.set_index("Salesperson")
#重置索引
df2.reset_index()
#将索引进行重新排序
df4.sort_index()

#上述均不直接改变原始datframe ，要么重新赋值，要么inplace=True

## 清理数据

### 结构

In [4]:
#行列相反
df1=df1.T #转置

NameError: name 'df1' is not defined

In [ ]:
#  对列进行拆分
df2["人口密度"].str.split("/") #转换成列表
df2[["人口","面积"]] = df2["人口密度"].str.split("/"，expand=True) #列表直接转换成多个列

In [ ]:
#删除列
df2 = df2.drop(["人口密度"],axis=1)

In [ ]:
#合并列
df3["姓"].str.cat(df3["名"])
df3["姓"].str.cat(df3["名"]，sep='-') #指定拼接时的分隔符

In [ ]:
#将宽数据变成长数据
pd.melt(df4,id_vars=["国家代码"，"年份"]，var_name='年龄组',value_name="肺结核数量")
#id_var:被转换df中不变的部分
# var_name：新df中包含原本列名的新列
#value_name：新df中包含原本变量的新列

In [ ]:
#拆分行：将列表拆成多行（把列表中每一个变量作为单独一行）
df5.explode("课程列表")

In [ ]:
#删除行：
df6.drop("考试2")
#删除列
df6.drop("考试2"，axis=1)

###  基本上对dataframe的操作都是不改变原始dataframe的，都要重新赋值或inplace=True

## 内容

### 填补缺失

In [ ]:
df4["B"].fillna(df["B"].mean())
df4.fillna(0)
df4.fillna({"A":0,"B":10,"C":20})  #A列添啥，B列添啥，C列添啥

In [ ]:
#删除有缺失值的行，默认是删除行的
df5.dropna()
df5.dropna(subset=["工资 "])
df5.dropna(axis=1) #删除有缺失值的列

### 删除重复

In [ ]:
df6.drop_duplicates(subset=["姓名"，"性别"],keep=last)
#默认keep保留first
df6["姓名"].drop_duplicates()

### 处理不一致数据

In [ ]:
#单个处理
df7.replace(["清华","五道口"],"清华大学")
df7["学校"].replace(["清华","五道口"],"清华大学")
#多个处理
replace_dict={
    "华南理工":"华南理工大学"
    "清华":"清华大学"
    "北大":"北京大学"
}
df7.replace(replace_dict)

###  数据类型转换

In [ ]:
type(s1)
s1.astype("str")
s2.astype("category")

## 保存数据

In [5]:
df1.to_csv("###.csv")
#默认保留index
#且从csv再次打开时，会将csv文件中都视为列，不区分index，从而创建默认的index
df1.to_csv("位置",index=False)
#不保留索引

NameError: name 'df1' is not defined

In [ ]:
#如果再次打开csv时，将原先的index视为列后，应进行如下操作，回归原始结构
cleaned_df.rename(columns={"###":"销售ID"},inplace=True)
cleaned_df.set_index("销售ID",inplace=True)